Fuente/UniformesBanco/UniformesBanco/ClienteWsCancelaAbasto/src/main/java/com/elektra/uniformes/wscancela/wsdl_ped_cent_cancela_PROD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://esquemas.elektra.com.mx/ekt/1.0/Esq_Salid_Ped_Cent_Cancel"
                  xmlns:tns="http://servicios.elektra.com.mx/ekt/1.0/ws_ped_cent_canela"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns0="http://esquemas.elektra.com.mx/ekt/1.0/Esq_Entr_Ped_Cent_Cancel"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled"
                  targetNamespace="http://servicios.elektra.com.mx/ekt/1.0/ws_ped_cent_canela">
    <wsdl:types>
        <xs:schema xmlns="http://esquemas.elektra.com.mx/ekt/1.0/Esq_Entr_Ped_Cent_Cancel"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://esquemas.elektra.com.mx/ekt/1.0/Esq_Entr_Ped_Cent_Cancel"
                   elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Parametros_Entrada">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Pais" type="xs:int"/>
                        <xs:element name="Canal" type="xs:int"/>
                        <xs:element name="Tienda" type="xs:string"/>
                        <xs:element name="Pedido" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://esquemas.elektra.com.mx/ekt/1.0/Esq_Salid_Ped_Cent_Cancel"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://esquemas.elektra.com.mx/ekt/1.0/Esq_Salid_Ped_Cent_Cancel"
                   elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Parametros">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ESTATUS" type="xs:decimal"/>
                        <xs:element name="MSG" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="intfPED_CENT_CANCELA-service">
        <wsdl:port name="intfwsPED_CENT_CANCELAEndpoint0" binding="tns:intfwsPED_CENT_CANCELAEndpoint0Binding">
            <soap:address
                    location="http://ws.ad.elektra.com.mx:7062/BusinessProcesses/Systems/WSEvents/intfPED_CENT_CANCELA-service.serviceagent/intfwsPED_CENT_CANCELAEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="PED__CENT__CANCELAOp">
            <wsdl:input message="tns:Parametros_Entrada"/>
            <wsdl:output message="tns:Parametros"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="intfwsPED_CENT_CANCELAEndpoint0Binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PED__CENT__CANCELAOp">
            <soap:operation style="document"
                            soapAction="/BusinessProcesses/Systems/WSEvents/intfPED_CENT_CANCELA-service.serviceagent/intfwsPED_CENT_CANCELAEndpoint0/PED__CENT__CANCELAOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Parametros_Entrada">
        <wsdl:part name="parameters" element="ns0:Parametros_Entrada"/>
    </wsdl:message>
    <wsdl:message name="Parametros">
        <wsdl:part name="parameters" element="ns1:Parametros"/>
    </wsdl:message>
</wsdl:definitions>